.orders-table {
    width: 100%;
    overflow-x: scroll;
}

.orders-table .text-nowrap {
    width: 1670px !important;
}

.text-nowrap thead tr th {
    text-align: left;
    padding: 20px 10px;
    border: 1px solid black;
    background: black;
    color: white;
}


.text-nowrap tbody tr td {
    text-align: left;
    padding: 20px 10px;
    border: 1px solid #bbbbbb;
    background: #d0d0d0;
    color: black;
}


.youb {
    margin-bottom: 30px;
}












.orders-table {
    width: 100%;
    margin-top: 20px;
}

.orders-table table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.youb {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.text-nowrap {
    white-space: nowrap;
}
