.FilterInput-container input{
    background-color: #F8F8F8;
    color: #383838;
    border: none;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    line-height: 1.6;
}

.FilterInput-container label {
    margin-bottom: 8px;
}

.FilterInput-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.FilterInput-container select {
    background-color: #F8F8F8;
    color: #383838;
    border: none;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    line-height: 1.6;
}



@media (max-width: 768px) {  
    .FilterInput-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

}