.flightfare p strong{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
}

.flightfare p {
    font-size: 14px;
    color: #636363;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-family: 'Avenir Black';
    font-weight: bold;
}

.flightfare h4{
    margin-top: 15px;
    color: #000000;
    padding: 20px;
    /* border-bottom: 1px solid #cccccc; */
    border-top: 1px solid #cccccc;
}

.taxes li strong {
    color: #262626;
    font-weight: 500;
    font-size: 14px;
}

.taxes li {
    font-size: 14px;
    color: #636363;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-family: 'Avenir Black';
    font-weight: bold;
}


 .flight-details-heading {
    color: #000000;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
  } 

  .flight-details-heading span {
    font-size: 12px;
    color: #a90000 !important;
    font-weight: 500;
  }


  .avialable-setas-bg {
    background: #7274bd;
    margin: 15px;
    color: white !important;
    padding: 15px !important;
    border-radius: 5px;
  }

  .avialable-setas-bg strong 
  {
    color: white !important;
  }

  .totalamount {
    color: #00a985 !important;
    font-size: 18px !important;
  }