.showing-flights-main-container {
    /* margin: 60px 0px; */
    width: 70%;
}

.flight-info-main-seprate-box {
    margin-top: 110px;
}

.flex-sidebar-body {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto 130px;
}

.modify-filter-inner div p span {
    display: flex;
    flex-direction: column;
}

.modify-filter-inner .trip-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.trip-info-inner-container {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.trip-info-inner-container span strong {
    position: absolute;
    top: -20px;
    font-size: 14px;
    font-family: 'Avenir Black';

}

.trip-info-inner-container span {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}


.modify-filter-inner .additional-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0px;
  gap: 20px;
}

.modify-filter-inner p strong {
    font-family: 'Avenir Black';
    font-weight: 800;
    padding-bottom: 5px;
}

.inputcontainer input {
    background: none;
    border: 1px solid rgb(226, 226, 226);
    color: black;
    box-shadow: none;
    margin-top: 8px;
}