/* navbar.module.css */
.navMain {
  background: #000000b6;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 18px 38px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  }
  
  .navInner {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navInner img {
    max-width: 140px;
  }
  
.dropdown{
    position: absolute;
    background: black;
    padding: 10px;
    color: white;
    bottom: -37px;
    /* gap: 110px; */
    left: 30%;
    display: flex;
    width: 220px;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.profileDropdown {
  right: 20px;
  top: 98px;
  background: white;
  /* padding: 20px 0px; */
  position: absolute;
  width: 260px;
  border-radius: 15px;
}
.dropdownItem {
  border-bottom: 1px solid rgb(84, 84, 84);
  padding: 20px;
}

.profile-info {
  background: black;
  padding: 15px;
  border-radius: 15px;
}

.profile-info p {
  color: white;
  padding: 5px;
}