/* bus.module.css */
.seatSelection {
    text-align: center;
    /* width: fit-content; */
  }
  
  .seatMatrix {
    display: grid;
    gap: 10px;
    justify-items: center;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust based on the number of columns */
    gap: 5px;
  }
  
  .seat {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .selected {
    background-color: #32cd32; /* Green for selected seats */
    color: white;
    font-weight: bold;
  }
  
  .unavailable {
    background-color: #dcdcdc; /* Grey for unavailable seats */
  }
  
  .window {
    background-color: #add8e6; /* Light blue for window seats */
  }
  
  .aisle {
    background-color: #f0e68c; /* Light yellow for aisle seats */
  }
  
  .driver {
    background-color: #f08080; /* Light coral for driver seat */
    position: relative;
  }
  
  .driverIcon {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
  }
  
  .selectedSeats {
    margin-top: 20px;
    font-size: 16px;
    /* border: 1px solid #b7b7b7; */
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 20px;
  }
  

  .wrap-seats-amount-proceed {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }


  .total-fare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px ;
    font-family: 'Avenir Bold';
    font-weight: 700;
    font-size: 16px;
  }

  .total-fare span {
    font-family: 'Avenir Semibold';
    font-weight: 600;
    color: rgb(78, 78, 78);
  }

  .selected-seats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
    padding: 15px 0px;
    font-family: 'Avenir Bold';
    font-weight: 700;
    font-size: 16px;
  }

  .selected-seats span {
    font-family: 'Avenir Semibold';
    font-weight: 600;
    color: rgb(78, 78, 78);
  }


  @media screen and (max-width: 768px) { 
    .wrap-seats-amount-proceed  {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .seatSelection h2 {
      margin-bottom: 20px;
    }

  }