.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 30px 0px;

  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .busType {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .timeLocation {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dateTime {
    font-size: 14px;
    color: #333;
  }
  
  .time {
    font-size: 20px;
    font-weight: bold;
  }
  
  .location {
    font-size: 14px;
    color: #666;
  }
  
  .duration {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .seatInfo {
    font-size: 14px;
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .priceSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .seatButton {
    background-color: #ff6600;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .seatButton:hover {
    background-color: #e55c00;
  }
  